@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar{
  display: none;
}

@media (min-width: 270px) {
  .wrapper {
      padding-left: 12px;
      padding-right: 12px;
  }
  /* .logoSearchWrapper{
    display: block;
  } */
  .search{
    margin-top: 5px;
    width: calc(100% - 67px);
    
  }
  .searchForm{
    width: 100%;
  }
  .adSection{
    display: none;
  }
  .derivery_msg, .price_subtitle {
    display: none;
  }
  .cartItem {
    gap: 8px;
  }
  .cartItem .price_title {
    flex-direction: column;
    /* gap: 1rem /* 16px */; 
  }
  .artItem{
    flex-direction: column;
    gap: 10px;
  }
  .paintings{
    flex-direction: column;
  }
  .paintings .heading{
    margin-bottom: 7px;
  }
  .paintingsFilters{
    justify-content: space-between;
  }
  /* .navigation{
    position: absolute;
    right: 0;
    width: 70%;
    height: 100vh;
    border-left-width: 1px;
    background-color: aliceblue;

  }
  .navigation nav{
    flex-direction: column;
  }
  .navigation nav .navLink{
    padding-left: 10px;
    border-bottom-width: 1px;
    transition: all .2s ease-in-out;
  }
  .navigation nav .navLink:hover{
    padding-left: 12px;
  }
  .menu{
    border-top-width: 1px;
    background-color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    border-bottom-width: 1px;
  } */
}

@media (min-width: 450px) {
  .cartItem {
    gap: 16px;
  }
  .cartItem, .cartItem .price_title{
    flex-direction: row;
  }
  .derivery_msg, .price_subtitle{
    display: block;
  }
   
}
@media (min-width: 512px) {
  .auth{
    width: 450px;
  }
   
}

@media (min-width: 540px) {
  /* .logoSearchWrapper{
    display: flex;
    align-items: center;
    gap: 15px;
  } */
  .searchForm{
    width: auto;
  }
  .adSection{
    display: block;
  }
  .artItem{
    flex-direction: row;
    gap: 40px;
  }
  
}
@media (min-width: 700px) {
  .navigation{
    position: relative;
    background-color: white;
    height: auto;
    border-left: none;

  }
  .navigation nav{
    flex-direction: row;
    gap: 40px;
  }
  .navigation nav .navLink{
    padding-left: 0;
    border-bottom-width: 2px;
    transition: all .2s ease-in-out;
    border-color: transparent;
  }
  .navigation nav .navLink:hover{
    padding-left: 0;
    color: rgb(29 78 216 / var(--tw-text-opacity, 1));
    border-color: rgb(29 78 216 / var(--tw-text-opacity, 1));
  } 
  .menu{
    display: none;
  }
  .open-menu{
    display: none;
  }
  .paintings{
    flex-direction: row;
  }
  .paintings .heading{
    margin-bottom: 0;
  }
  
}
@media (min-width: 875px) {
  .search {
      width: 384px;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem 
  }
  .searchBtn{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem 
  }
}